    <% if notice.present? %>
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <div>
          <%= image_tag("icons/exclamation-circle.svg", alt: "exclamation-circle") %>
          <%= notice %>
        </div>
      </div>
    <% end %>

<div class="container mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="text-center">Registrarse</h2>
        </div>

        <div class="card-body">
          <%= form_for(@user, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="mb-3">
              <%= f.label :email, "Correo electrónico", class: "form-label" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :password, "Contraseña", class: "form-label" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :password_confirmation, "Confirmación de contraseña", class: "form-label" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :name, "Nombre", class: "form-label" %><br />
              <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :lastname, "Apellido", class: "form-label" %><br />
              <%= f.text_field :lastname, autocomplete: "lastname", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :dni, "CI", class: "form-label" %><br />
              <%= f.number_field :dni, autocomplete: "dni", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :phone_number, "Número de teléfono", class: "form-label" %><br />
              <%= f.number_field :phone_number, autocomplete: "phone_number", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :speciality_id, "Especialidad", class: "form-label" %><br />
              <%= f.collection_select :speciality_id, Speciality.all, :id, :name, { prompt: "Seleccione una especialidad" }, { class: "form-control" } %>
            </div>

            <div class="text-center">
              <%= f.submit "Registrarme", class: "btn btn-primary" %>
            </div>
          <% end %>

          <div style="display: flex; justify-content: space-around;">
          <div class="text-center mt-5">
            <p>¿Ya tienes una cuenta?</p>
            <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-secondary" %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
