<%= form_with(model: speciality, class: "p-3") do |form| %>
  <% if speciality.errors.any? %>
    <div>
      <% speciality.errors.each do |error| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= image_tag("icons/exclamation-triangle.svg", alt: "exclamation-triangle") %>
          <%= error.message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nombre", style: "display: block" %>
    <%= form.text_field :name, class:"form-control mb-4" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-success", value: "Guardar" %>
  </div>
<% end %>
