<div id="<%= dom_id book %>" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 70px; margin-top: 30px;">
  <div class="card p-3 m-0" style="width: 50%;">
    <%= image_tag(url_for(book.image)) %>
    <div class="card-body">
      <h4 class="card-title">
        <%= book.title %>
      </h4>
      <p class="card-text">
      <% if action_name == "index" %>
        <%= simple_description book.description %>
      <% else %>
        <%= book.description %>
      <% end %>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <% if book.state %>
        Disponible
      <% else %>
        No disponible
      <% end %>
      </li>
      <% if current_user.admin? %>
        <li class="list-group-item">
            Stock: <%= book.stock %>
        </li>
      <% end %>
    </ul>
      <div class="card-body">
        <% if action_name == "index" || action_name == "search" %>
          <%= link_to "Ver más", book, class:"btn btn-primary" %>
        <% end %>
      </div>
  </div>
</div>