<%= form_with(model: book, class: "p-3") do |form| %>
  <% if book.errors.any? %>
    <div>
      <% book.errors.each do |error| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= image_tag("icons/exclamation-triangle.svg", alt: "exclamation-triangle") %>
          <%= error.message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :title, 'Título', style: "display: block" %>
    <%= form.text_field :title, class:"form-control mb-3" %>
  </div>

  <div>
    <%= form.label :description, 'Descripción', style: "display: block" %>
    <%= form.text_area :description, class:"form-control mb-3" %>
  </div>

  <div>
    <%= form.label :image, 'Imagen del libro', style: "display: block" %>
    <%= form.file_field :image, class:"form-control mb-3" %>
  </div>

  <div>
    <%= form.label :stock, 'Stock', style: "display: block" %>
    <%= form.number_field :stock, class:"form-control mb-3" %>
  </div>

  <div>
    <%= form.label :state, 'Disponible', style: "display: block" %>
    <%= form.check_box :state, class:"mb-3", checked: true %>
  </div>

  <div>
    <%= form.submit class:"btn btn-success", value: "Guardar" %>
  </div>
<% end %>
