<%= form_with(model: loan, class: "p-3") do |form| %>
  <% if loan.errors.any? %>
    <div>
      <% loan.errors.each do |error| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= image_tag("icons/exclamation-triangle.svg", alt: "exclamation-triangle") %>
          <%= error.message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :loan_date, "Fecha de préstamo", style: "display: block" %>
    <%= form.date_field :loan_date, class:"form-control mb-3" %>
  </div>

  <% if action_name == "edit" %>
    <div>
      <%= form.label :return_date, "Fecha de devolución", style: "display: block" %>
      <%= form.date_field :return_date, class:"form-control mb-3" %>
    </div>
  <% end %>

  <div>
    <%= form.label :book_id, "Libro", style: "display: block" %>
    <%= form.collection_select :book_id, @available_books, :id, :title, { disabled: action_name == "edit" }, class: "form-select mb-3" %>
  </div>

  <div>
    <%= form.label :expected_return_date, "Fecha esperada de entrega", style: "display: block" %>
    <%= form.date_field :expected_return_date, class:"form-control mb-3" %>
  </div>

  <div>
    <%= form.label :user_id, "Usuario", style: "display: block" %>
    <% if action_name == "new" %>
     <%= form.collection_select :user_id, @users_without_pending_loans, :id, :dni, { include_blank: 'Seleccione un usuario' }, class:"form-select mb-3" %>
    <% else %>
    <strong>
      <%= @loan.user.dni %>
    </strong>
    <p>
      <%= @loan.user.name %> <%= @loan.user.lastname %>
    </p>
    <% end %>
  </div>

 <div>
    <%= form.submit class:"btn btn-success", value: "Guardar" %>
  </div>
<% end %>
