<div id="<%= dom_id loan %>">
  <p>
    <strong>Loan date:</strong>
    <%= loan.loan_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= loan.return_date %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= loan.book.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= loan.user.dni %>
  </p>

  <p>
    <strong>Returned:</strong>
    <%= loan.returned %>
  </p>

</div>
