
<%= render @loan %>


  <%= form_with(url: return_book_loan_path(@loan), method: :put) do |form| %>
    <%= form.submit "Devolver libro", class:"btn btn-success m-2" %>
  <% end %>

<div>
  <%= link_to "Editar este préstamo", edit_loan_path(@loan), class:"btn btn-primary m-2" %> 


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar préstamo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Esta seguro de eliminar este préstamo?
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <%= button_to "Eliminar", loans_path(@loan), method: :delete, class: "btn btn-danger", data: { confirm: '¿Estás seguro?' } %>
        </div>
      </div>
    </div>
  </div>
  </div>

  <%= link_to "Volver a préstamos", loans_path, class:"m-2 btn btn-secondary" %>

</div>
