<table id="<%= dom_id user %>" class="table table-bordered mt-5 mb-5">
  <tbody>
    <tr>
      <th scope="row">Nombre</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th scope="row">Apellido</th>
      <td><%= user.lastname %></td>
    </tr>
    <tr>
      <th scope="row">C.I</th>
      <td><%= user.dni %></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <th scope="row">Admin</th>
      <td><%= user.admin %></td>
    </tr>
    <tr>
      <th scope="row">Activo</th>
      <td><%= user.active %></td>
    </tr>
  </tbody>
</table>
