<h1 class="text-center p-4">Lista de Usuarios</h1>

<div style="display: flex; justify-content: center;" class="m-5">
  <%= form_tag search_admin_users_path, method: :get, class: "d-flex", role: "search" do %>
    <%= number_field_tag :q, params[:q], placeholder: "Buscar C.I...", class: "form-control me-2", type: "search", style: "width: 300px;" %>
    <%= button_tag type: "submit", class: "btn btn-outline-success" do %>
      Buscar
    <% end %>
  <% end %>
</div>

<div class="table-responsive p-2">
    <table class="table table-bordered">
    <thead>
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>C.I</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Admin</th>
        <th>Activo</th>
        <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.lastname %></td>
            <td><%= user.dni %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.admin %></td>
            <td><%= user.active %></td>
            <td><%= link_to "Ver más", admin_user_path(user), class: "btn btn-primary" %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>